<launch>
    <node pkg="tp2_ros_package" type="teleoperation_node_param.py" name="my_teleoperation_node" output="screen" />
    <rosparam>
        forward: u
        backward: j
        clockwise: k
        counterClockwise: h
        increaseSpeed: f
        decreaseSpeed: s
    </rosparam>
</launch>
